/*This code was originally built for screens with width between 940px and 1400px. The RESPONSIVENESS section will take care of other sizes. */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root{
  --clr-primary: #004aad;
  --clr-prim-lighter: #1460c4;
  --clr-secondary: #fff;
  --clr-sec-lighter: #eeeef4;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Dancing Script', cursive;
}

* {
  font-family: var(--ff-primary);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.title {
  display: flex;
  background-color: var(--clr-secondary);
  flex-direction: column;
  padding: 5em auto 2em;
  gap: 3em;
  align-items: center;
}

.logo {
  width: 20em;
  padding: 2em;
}

.banner {
  background-image: linear-gradient(rgba(55, 55, 255, 0.5), rgba(255, 170, 34, 0.423)),
    url("imagens/greekbeach.jpeg");
  height: 22em;
  overflow: hidden;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--clr-primary);
}

.buttons {
  display: flex;
  padding: 0;
  margin: 15rem 8rem 0 6rem;
  gap: 1em;
  flex-wrap: wrap;
  list-style-type: none;
}

.banner-btn,
.banner-2btn {
  padding: 1em 2.5em;
  border-style: none;
  border-radius: 1px;
  font-family: var(--ff-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

.banner-btn {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.banner-2btn {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.banner-btn:hover{
  background-color:var(--clr-sec-lighter);
}

.banner-2btn:hover{
  background-color:var(--clr-prim-lighter);
}

.menu{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-gap: 2em;
  margin: 3em 6em;
}

.img-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.dish-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h2 {
  font-size: 1.5rem;
  color: var(--clr-primary);
}

.dish-description {
  font-size: 1rem;
}

.container-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}

.price {
  color: var(--clr-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 6rem 8rem 6rem 1fr;
  background-color: var(--clr-primary);
  padding: 3rem 4rem;
  color: var(--clr-secondary);
  align-items: center;
  font-weight: 100;
  column-gap: 3em;
  font-size: 1rem;
}

.logo-footer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  max-width: 15rem;
  align-self: start;
}

.social-btns {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.footer-btns{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  align-content: stretch;
  justify-content: stretch;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.footer-phone {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.footer-address {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
}

.footer-hours {
  grid-column: -2 / -1;
  grid-row: 3 / 5;
  align-self: start;
}

.fa-brands {
  font-size: 2rem;
  color: white;
}

.footer-credits{
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  justify-content: center;
  text-align: center;
  padding: 4rem;
}

.link-footer{
  text-decoration: none;
  color: white;
}

.footer-table{
  border-collapse: collapse;
}

td {
  padding: 5px 30px 5px 0;
  vertical-align: top;
}

/* RESPONSIVENESS */
 
@media(min-width: 1400px){
  .banner-btn,
  .banner-2btn {
    font-size: 1em;
  }

  .dish-title {
    font-size: 1.8rem;
  }

  .dish-description {
    font-size: 1rem;
  }

  footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr auto;
    padding: 3rem 9rem;
  }

  .logo-footer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .social-btns {
    grid-column: 1 /2;
    grid-row: 2 / -3;
  }
  
  .footer-btns{
    grid-column: 1 / 2;
  }
  
  .footer-phone {
    grid-row: 1 / 2;
  }
  
  .footer-address {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
  }
  
  .footer-hours {
    grid-row: 1 / -2;
  }
  
  td {
    padding: 5px 30px 5px 0;
  }
}

@media(max-width: 940px){
  
  .buttons{
    margin-left: 9rem;
  }
  .menu{
    grid-template: repeat(auto-fit, minmax(2em,1fr)) / repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    margin: 3rem 9rem;
  } 
  
  .img-container{
    max-height: 58rem;
    text-align: end;
  }
  
  .grid-item1-1{
    order: 2;
  }

  .grid-item1-2{
    order: 1;
  }

  .grid-item2-1{
    order: 4;
  }

  .grid-item2-2{
    order: 3;
  }

  .grid-item3-1{
    order: 6;
  }

  .grid-item3-2{
    order: 5;
  }

  .grid-item4-1{
    order: 8;
  }

  .grid-item4-2{
    order: 7;
  }

  footer {
    padding: 3rem 1rem;
  }
}

@media(max-width: 770px){

  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    gap: 50px;
    flex-direction: column;
    margin: 0;
    text-align: center; 
    justify-content: center;
    height: 20rem;
  }

  .menu{
    grid-template: auto / 1fr;
    flex-direction: column;
    min-height: 100%;
    gap: 1rem;
    margin: 6rem;
  }
  
  .img-container {
    max-height: 16rem;
  }

  .container-text{
    margin-top: 2rem;
  }

  .menu > :nth-child(2) {
    margin-top: 0;
  }

  .dish-description{
    font-size: 1.2rem;
  }
  
  .price {
    font-size: 2rem;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 9rem 6rem 6rem 15rem 5rem;
  }

  .footer-phone {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .footer-address {
    grid-row: 5 / 6;
  }

  .footer-hours{
    grid-row: 6 / 7;
  }
}

@media(max-width: 576px){
  .menu {
    margin: 2rem;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 2rem;
  }
}